@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

/* for toggle in js  */
.backdropActive {
    display: block;
}

/* for toggle in js  */

.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: white;
    width: 30%;
    height: 60%;
    padding: 10px;
    display: none;
}

/* for toggle in js  */

.modalActive {
    display: block;
}

/* for toggle in js  */

.modalCloseButton span {
    position: absolute;
    display: block;
    width: 15px;
    height: 3px;
    background-color: black;
    right: 15px;
    top: 15px;
    cursor: pointer;

}

.modalCloseButton span:first-child {
    transform: rotate(45deg);
}

.modalCloseButton span:last-child {
    transform: rotate(-45deg);
}